<script>
import Main from "@/Layouts/main.vue";
export default {
    components: {
        Main,
    },

    props: ['seanses'],
}

</script>

<template>
<Main>

    <div v-for="seans in seanses" class="border-b mb-4">
        <div class="mb-1">Фильм: {{ seans.movie.title }} </div>
        <div class="mb-1">Дата и время: {{ seans.date }}</div>
        <div class="mb-1">Возраст:
            <span class="border rounded-full text-red-600 p-1 bg-slate-100">{{ seans.movie.age }}+</span>
        </div>
        <div class="mb-1">Стоимость: {{ seans.price }}</div>
    </div>
</Main>
</template>

<style scoped>

</style>
