<script>
export default {
    name: 'Main',

}


</script>

<template>
    <div class="mx-auto w-96">
        <div class="text-2xl text-center my-4 ">
            Сеансы
        </div>
        <slot />
    </div>
</template>

<style scoped>

</style>
